.act {
    width: 100%;
    font-size: 30px;
}

.nameField {
    width: 20%;
    height: 40px;
}

.cmdField {
    width: 35%;
    height: 40px;
}

.dirField {
    width: 25%;
    height: 40px;
}

.createBtn {
    width: 20%;
    height: 40px;
}