<div class="proMain">
  <div class="runState" [style.backgroundColor]="this.stateColor">{{this.state}}</div> 
  <input type="button" class="StartStopBtn" [value]="this.targetRun">
  <input type="text" class="nameField" [(ngModel)]="this.process.name">
  <input type="text" class="cmdField" [(ngModel)]="this.process.cmd">
  <input type="text" class="dirField" [(ngModel)]="this.process.dir">
  <input type="button" class="updateBtn" value="UPDATE" (click)="update();">
  <input type="button" class="removeBtn" value="REMOVE" (click)="remove();">
</div>
